@import "https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,700i,900&subset=latin-ext";

$white: #FEFFFF;
$red: #da251c;
$blue: #113268;
$black: #362A2D;
$grey: #DDD;
$light-grey: #F6F4F9;

$mobile-padding: 20px;

$max-width: 1100px;
$tablet-width: 768px;
$tablet-max: 1024px;
$mobile-width: 667px;