@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900i&subset=latin-ext";


// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;


$white: #FEFFFF;
$red: #da251c;
$blue: #113268;
$black: #362A2D;
$grey: #DDD;
$light-grey: #F6F4F9;

$max-width: 1100px;
