section.kontakt {
    padding-bottom: 75px;

  .left, .right {
    display: inline-block;
    width: 50%;
    margin-top: 50px;
    box-sizing:border-box;
    vertical-align: top;
  }

  .left {
    padding-right: 25px;
  }

  .right {
    padding-left: 25px;
  }

  .address, .phone, .email {
    display: inline-block;
    width: calc(100% / 5);
    margin-bottom: 15px;
    text-align: center;

    div, .fa {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
    }

    .fa {
      width: 20px;
      margin-right: 10px;
      color: $red;
      text-align: center;
    }
  }

  .email {
    margin-left: calc(100% / 5);

    .fa {
      font-size: 2em;
    }
  }

  .address .fa {
    font-size: 2.5em;
  }

  .phone {
    margin-left: calc(100% / 5);

    .fa {
      font-size: 2.25em;
    }
  }

  form {
    margin-top: 15px;

    fieldset {
      text-align: justify;
      line-height: 0;

      &:after {
        content: "";
        display: inline-block;
        width: 100%;
      }
    

          input, textarea {
            width: calc(50% - 10px);
            padding: 15px;
            margin-bottom: 15px;
            box-sizing: border-box;
            background: $white;
            border: 2px solid $grey;
            outline: none;
            font-family: 'Roboto', sans-serif;
            font-size: 12px;

            input-placeholder {
              /*color: $light-grey;*/
            }

            &:focus {
              border-color: $red;
            }

            &[type="submit"] {
              border-color: $red;
              font-weight: 700;
              text-transform: uppercase;
              cursor: pointer;
            }
    }
    
    

    textarea {
      width: 100%;
    }
    }
  }

  #map {
    height: 380px;
    margin-top: 15px;
  }
}
