section.praca {
  ul {
    display: inline-block;
    width: 50%;
    padding-right: 25px;
    box-sizing: border-box;
    vertical-align: top;

    li {
      position: relative;
      margin-bottom: 25px;

      &.active {
        .fa {
          transform: rotate(180deg);
        }
      }
      
      .title {
        position: relative;
        padding: 15px 20px;
        box-sizing: border-box;
        border: 2px solid $grey;
        background: $white;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        z-index: 1;

        .fa {
          position: absolute;
          right: 20px;
          top: 20px;
        }

        &:hover {
          border-color: $red;
        }
      }

      .desc {
        display: none;
        margin-top: -2px;
        padding: 30px 35px;
        box-sizing: border-box;
        border: 2px solid $grey;
        background: $light-grey;
        font-size: 1em;
        text-align: center;

        p {
          text-align: left;
        }

        .button {
          margin-top: 30px;
          background: $white;
          border-color: $red;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  img {
    display: inline-block;
    width: calc(50% - 25px);
    margin-left: 25px;
    box-sizing: border-box;
    border: 2px solid $grey;
    vertical-align: top;
  }
}