body.produkty {
  margin-bottom: 75px;
}

section.produkty {
  ul {
    li {
      display: inline-block;
      margin-right: 20px;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      cursor: pointer;

      * {
        vertical-align: middle;
      }

      &:hover {
        .fa {
          border-color: $red;
        }
      }

      &.active {
        .fa {
          color: $red;
          border-color: $red;
        }
      }

      .fa {
        width: 14px;
        margin-right: 10px;
        margin-top: -2px;
        border: 2px solid $grey;
        background: $white;
        font-size: 12px;
        line-height: 14px;
        font-weight: normal;
        text-align: center;
        color: rgba($black, 0);
      }
    }
  }

  .slider-container {
    position: relative;
    width: 100%;
    height: 175px;
    margin-top: 30px;
    overflow: hidden;

    .slider {
      position: absolute;
      left: 0;
      top: 0;
      width: 5500px;
      height: 100%;
      font-size: 0;
      transition: 0.4s left ease-out;

      div {
        display: inline-block;
        width: 100%;
        max-width: $max-width;
        vertical-align: top;

        &:hover {
          a {
            opacity: 0.5;
          }
        }

        a {
          position: relative;
          display: inline-block;
          width: calc(1025px / 6);
          margin-right: 15px;
          height: 175px;
          padding: 15px;
          box-sizing: border-box;
          border: 2px solid $grey;
          background: #fff;
          font-size: 12px;
          line-height: 125%;
          text-align: center;
          text-transform: uppercase;
          vertical-align: top;

          &:hover {
            opacity: 1;
            border-color: $red;
          }

          img {
            position: absolute;
            bottom: 15px;
            left: 15px;
            width: calc(100% - 20px);
          }
        }
      }
    }
  }

  .button {
    margin-top: 50px;
    border-color: $red;
  }
}