section.realizacje {
  position: relative;
  max-width: 100%;
  padding-bottom: 45px;
  background: $blue;
  color: $white;
  overflow: hidden;
  z-index: 11;

  .clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip: rect(auto, auto, auto, auto);

    .bullets {
      .title {
        color: rgba($light-grey, 0.20);
      }

      .square {
        border-color: rgba($light-grey, 0.20);
      }

      .active {
        .title {
          color: $grey;
        }

        .square {
          border-color: $red;
        }
      }
    }
  }

  .bg-lines {
    position: absolute;
    height: 100%;

    span {
      height: 100%;
      border-color: rgba($light-grey, 0.1);
    }
  }

  h2 {
    border-color: $white;
  }

  .wrapper > div {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
    background: $blue;
    border: 2px solid #fff;
    box-sizing: border-box;
    vertical-align: top;

    div {
      display: inline-block;
      box-sizing: border-box;
      vertical-align: top;
    }

    .desc {
      width: 60%;
      padding: 25px 30px;
    }

    .gallery {
      position: relative;
      width: 40%;
      height: 100%;
      overflow: hidden;
      border-left: 2px solid #fff;

      .slider {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;

        div {
          
        }
      }

      .prev, .next {
        position: absolute;
        bottom: -2px;
        width: 50px;
        height: 50px;
        border: 2px solid #fff;
        background: rgba(#000, 0.15);
        font-size: 1.5em;
        line-height: 50px;
        text-align: center;
        cursor: pointer;
      }

      .prev {
        left: -2px;
      }

      .next {
        right: -2px;
      }
    }
  }
}