section.realizacje {
  position: relative;
  max-width: 100%;
  padding-bottom: 45px;
  background: $blue;
  color: $white;
  overflow: hidden;
  z-index: 11;

  .clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip: rect(auto, auto, auto, auto);

    .bullets {
      .title {
        color: rgba($light-grey, 0.20);
      }

      .square {
        border-color: rgba($light-grey, 0.20);
      }

      .active {
        .title {
          color: $grey;
        }

        .square {
          border-color: $red;
        }
      }
    }
  }

  .bg-lines {
    position: absolute;
    height: 100%;

    span {
      height: 100%;
      border-color: rgba($light-grey, 0.1);
    }
  }

  h2 {
    border-color: $white;
  }

  .realization {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 350px;
    margin-bottom: 50px;
    box-sizing: border-box;
    vertical-align: top;

    &:nth-child(odd) {
      padding-left: 25px;
      
      @include bp(mobile) {
        padding: 0;
        width: 100%;
      }
    }

    &:nth-child(even) {
      padding-right: 25px;

      @include bp(mobile) {
        padding: 0;
        width: 100%;
      }
    }

    .gallery {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border: 2px solid $white;
      box-sizing: border-box;

      .slider {
        width: 100%;
      }

      .frame {
        position: relative;
        width: 100%;
        font-size: 0;
        line-height: 0;
        overflow: hidden;
        white-space: nowrap;
      }

      .slides {
        display: block;
      }

      li {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 350px;
        background-size: cover;
        background-position: center;
      }

      .prev, .next {
        position: absolute;
        bottom: 0;
        width: 50px;
        height: 50px;
        border: solid $white;
        box-sizing: border-box;
        background: rgba(#000, 0.5);
        font-size: 1.5em;
        line-height: 50px;
        text-align: center;
        cursor: pointer;
      }

      .prev {
        border-width: 2px 2px 0 0;
        left: 0;
      }

      .next {
        border-width: 2px 0 0 2px;
        right: 0;
      } 
    }

    .title {
      position: absolute;
      bottom: 0;
      left: 50px;
      height: 50px;
      width: calc(100% - 100px);
      border-top: 2px solid $white;
      box-sizing: border-box;
      background: rgba(#000, 0.5);

      h4 {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        padding: 10px 15px;
        box-sizing: border-box;
        text-transform: uppercase;
        text-shadow: 0 0 5px rgba($black, 0.75);
      }
    }
  }

  .button {
    margin-top: 20px;
    background: $blue;
  }
}