body.offer-page {
  aside {
    position: relative;
  }

  header {
    position: relative;
    top: 0;
  }

  section.oferta {
    text-align: center;

    img {
      display: inline-block;
      margin-bottom: 50px;
    }

    .desc, h2 {
      width: 60%;
      margin: 0 auto;
      text-align: left;
    }

    h2 {
      padding-top: 0;
      border-top: 0;
      font-size: 2.5em;
      line-height: 125%;
    }

    .desc {
      margin-top: 30px;
      padding: 5px 0 5px 30px;
      border-left: 3px solid $red;
      box-sizing: border-box;
    }

    .gallery {
      margin-top: 75px;
      background: $red;
      line-height: 0;

      .thumb {
        position: relative;
        display: inline-block;
        width: 20%;
        
        height: 200px;
        cursor: pointer;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 2px solid transparent;
          box-sizing: border-box;
        }

        div {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center;
        }

        .fa {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: none;
          font-size: 1.5em;
          line-height: 100%;
          color: $white;
        }

        &:hover {
          &:after {
            //border-color: $black;
          }

          div {
            opacity: 0.25;
            filter: grayscale(100%);
          }

          .fa {
            display: inline-block;
          }
        }
      }
    }

    .other-projects {
      margin-top: 50px;
      text-align: center;

      & > div {
        width: 100%;
        line-height: 0;
      }

      .prev, .all, .next {
        display: inline-block;
        width: 20%;
        padding: 30px 0;
        color: $red;
        font-size: 1.5em;
        line-height: 100%;
        cursor: pointer;
      }
    }
  }
}