header {
  position: relative;
  top: 0;
  width: 100%;
  background: $white;
  box-shadow: 0 0 30px rgba(#000, 0.15);
  z-index: 100;
  box-sizing: border-box;

  @include bp(desktop) {
    padding: 0 $mobile-padding;
  }

  @include bp(mobile) {
    padding: 0;
  }

  #toggle-menu {
    width: 30px;
    height: 3px;
    background: $red;
    float: right;
    position: relative;
    top: 21px;
    display: none;

    @include bp(mobile) {
      display: block;
      margin-right: $mobile-padding;
    }

    &:before,
    &:after {
      content: '';
      width: 30px;
      height: 3px;
      display: block;
      background: $red;
      position: relative;
    }
    &:before {
      top: -9px;
    }
    &:after {
      top: 6px;
    }
  }

  &.fixed {
    .wrapper {
      padding: 10px 0 37.5px;

      @include bp(mobile) {
        padding: 10px $mobile-padding;
      }
    }

    nav.primary {
      @include bp(mobile) {
        height: calc(100vh - 65px);
      }
    }

    .brand, #toggle-menu {
      @include bp(mobile) {
        padding: 0;
        margin: 0;
      }
    }
    
    .contact {
      top: 22.5px;

      @include bp(mobile) {
        display: none;
      }
    }

    img {
      height: 45px;
    }
  }

  .wrapper {
    padding: 15px 0 42.5px;

    @include bp(mobile) {
      padding: 10px 0;
    }
  }

  .brand {
    display: inline-block;
    vertical-align: middle;

    @include bp(mobile) {
      max-width: 200px;
      padding-left: $mobile-padding - 5;
    }
  }

  img {
    display: block;

    @include bp(mobile) {
      max-width: 100%;
    }
  }

  .contact {
    position: absolute;
    top: 35px;
    right: 0;
    display: inline-block;

    @include bp(mobile) {
      position: static;
      padding: 10px $mobile-padding 0;
      font-size: 0.75em;
    }

    div {
      display: inline-block;
      margin-right: 15px;

      @include bp(mobile) {
        margin-right: 5px;
      }
      &:last-child {
        margin-right: 0;
      }

      .fa {
        display: inline-block;
        margin-right: 5px;
        font-size: 14px;
        color: $red;

        @include bp(mobile-small) {
          display: none;
        }
      }
    }
  }
}

#contactUs {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: none;
  width: 500px;
  height: 200px;
  padding: 25px 30px;
  box-sizing: border-box;
  background-color: $white;
  background-image: url(../images/contact-us.jpg);
  background-size: auto 100%;
  background-position: right;
  background-repeat: no-repeat;
  border: 2px solid $white;
  box-shadow: 0 0 30px rgba(#000, 0.15);
  z-index: 101;

  &:before {
    content: "";
    position: absolute;
    left: 200px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 200px 100px 0 0;
    border-color: $white transparent transparent transparent;
    z-index: -1;
  }

  h4 {
    display: block;
    margin-bottom: 15px;
    line-height: 150%;
    text-transform: uppercase;
  }

  span {
    font-weight: 700;
    text-transform: uppercase;
  }

  .phone, .email {
    .fa {
      margin-right: 10px;
      color: $red;
    }
  }

  .phone {
    margin-top: 15px;
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border: solid $white;
    border-width: 0 0 2px 2px;
    background: rgba(#000, 0.15);
    font-size: 1.5em;
    line-height: 100%;
    color: $white;
    text-align: center;
    cursor: pointer;
    z-index: 1;
  }
}

body.home header {
  position: absolute;
  top: 44px;

  &.fixed {
    position: fixed;
    top: 0;
  }
}