header {
  position: relative;
  top: 0;
  width: 100%;
  background: $white;
  box-shadow: 0 0 30px rgba(#000, 0.15);
  z-index: 100;

  &.fixed {
    .wrapper {
      padding: 10px 0 37.5px;
    }
    
    .contact {
      top: 22.5px;
    }

    img {
      height: 45px;
    }
  }

  .wrapper {
    padding: 15px 0 42.5px;
  }

  .brand {
    display: inline-block;
    vertical-align: middle;
  }

  img {
    display: block;
  }

  .contact {
    position: absolute;
    top: 35px;
    right: 0;
    display: inline-block;

    div {
      display: inline-block;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }

      .fa {
        display: inline-block;
        margin-right: 5px;
        font-size: 14px;
        color: $red;
      }
    }
  }
}

#contactUs {
  position: fixed;
  bottom: 30px;
  right: 50px;
  display: none;
  width: 600px;
  height: 250px;
  padding: 25px 30px;
  box-sizing: border-box;
  background-color: $white;
  background-image: url(../images/contact-us.jpg);
  background-size: auto 100%;
  background-position: right;
  background-repeat: no-repeat;
  border: 2px solid $white;
  box-shadow: 0 0 30px rgba(#000, 0.15);
  z-index: 101;

  &:before {
    content: "";
    position: absolute;
    left: 226px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 250px 100px 0 0;
    border-color: $white transparent transparent transparent;
    z-index: -1;
  }

  p {
    strong {
      font-size: 1.5em;
    }

    span {
      font-size: 1.25em;
    }
  }

  .phone, .email {
    font-size: 1.25em;

    .fa {
      margin-right: 10px;
      color: $red;
    }
  }

  .phone {
    margin-top: 30px;
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    border: solid $white;
    border-width: 0 0 2px 2px;
    background: rgba(#000, 0.15);
    font-size: 1.5em;
    line-height: 100%;
    color: $white;
    text-align: center;
    cursor: pointer;
    z-index: 1;
  }
}

body.home header {
  position: absolute;
  top: 44px;

  &.fixed {
    position: fixed;
    top: 0;
  }
}